.price-cards-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #0056b3;
}

.price-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.plan {
  color: #888;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
 
}

.price {
  font-size: 32px;
  color: #007bff;
  margin-top: 5px;
  border-bottom: black solid 1px;
}

.card-features {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  
}

.card-features li {
  margin-bottom: 10px;
  justify-content: flex-start;
    display: flex;
}

.disabled {
  color: #ccc;
  text-decoration: line-through;
}

.enabled {
  color: #333;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 280px;
  font-weight: bold;
}

.button:hover {
  background-color: #0056b3;
}

